<!DOCTYPE html>
<html lang="en">
<body>
  <div class="container">
    <%- include('partials/_header') %>
    <!-- Add your EJS code here -->
    <ul>
      <% console.log('logging URL', url) %>
     <% for (key in url) { %>
       <li><a href="<%= key %>"><%= key %></a> : <a href="<%= url[key] %>"><%= url[key] %></a></li>
    <% } %>
    </ul>

    <a href="/urls/new">Click here</a> to add a new shortened link!
</body>
</html>