<!DOCTYPE html>
<html lang="en">

<body style="font-size:20px; padding:50px; width:100%">
    <%- include('partials/_header') %>
    <!-- Add your EJS code here -->
    <ul >
     <% for (key in url) { %>
       <li><a href="/urls/<%= key %>"><%= key %></a> : <a href="<%= url[key] %>"><%= url[key] %></a> : <a href="/:id/edit">Edit</a> <form button type="submit" method="POST" action="/urls/<%= key %>?_method=DELETE"><input type='submit' value="Delete"></form></li>
    <% } %>
    </ul>

    <a href="/urls/new">Click here</a> to add a new shortened link!
</body>
</html>