<!DOCTYPE html>
<html lang="en">

<body style="font-size:20px; padding:50px; width:100%">
    <%- include('partials/_header') %>
    <!-- Add your EJS code here -->
    <ul >
    <% if (user == 0) { %>
    Please <a href="./login">login</a> to view your URLs
    <% } else { %>
     <% for (key in url) { %>
        <% if (url[key].user == user.id) { %>
            <li><a href="/urls/<%= key %>"><%= key %></a> : <a href="<%= url[key].long %>"><%= url[key].long %></a> : <a href="/<%= key %>/edit">Edit</a> <form button type="submit" method="POST" action="/urls/<%= key %>?_method=DELETE"><input type='submit' value="Delete"></form></li>
    <% }} %>
    </ul>

    <a href="/urls/new">Click here</a> to add a new shortened link!
    <% } %>   
</body>
</html>