<!DOCTYPE html>
<html lang="en">
<body>
  <div class="container">
    <%- include('partials/_header') %>
    <!-- Add your EJS code here -->
    <ul>
    <% urls.forEach ((url) => { %>
      <li><a href="<%= url.short %>"><%= url.short %></a> : <a href="<%= url.long %>"><%= url.long %></a></li>
    <% }) %>
    </ul>

    <a href="#">Click here</a> to add a new shortened link!
</body>
</html>